---
layout: default
title: Homepage
banner:
  heading: Ayurvedic Alchemy
  subheading: Blending Ayurvedic Principles with Western Gastronomy
  image: 
    image_path: /images/minimal-1.jpg
    image_focus: 
services-section:
  heading: Nourishment Offrings
about-section:
  heading: Meet the Chef
  description: As a private chef and Ayurvedic Practitioner, I offer a harmonious blend of expertise to curate wholesome, modern, Western meals infused with Ayurvedic wisdom for you and your family. With a deep understanding of Ayurvedic nutrition guidelines, I carefully craft meals that honor your unique Ayurvedic body type, supporting your journey towards balance and vitality. From determining your individual needs to designing healing culinary experiences, allow me to guide you on a transformative path of nourishment and rejuvenation. Discover the power of Ayurveda through delectable dishes that nurture both body and soul, enriching your family's well-being with every flavorful bite.
  button: 
    text: Schedule a Complimentary Consultation
    url: #
  image: 
    image_path: /images/minimal-5.jpg
    image_focus: top
---

    <!-- Services Section -->
    {% include services.html %}

    <!-- About Section -->
    {% include about.html %}

    <!-- Features -->
    {% include features.html %}

    <!-- Gallery -->
    {% include gallery.html %}

    <!-- Contact -->
    {% include contact.html %}
