<section class="border-x border-t border-black grid grid-cols-12 bg-cover bg-top-center bg-no-repeat"
    style="background-image: url('images/minimal-5.jpg');">
    <div class="col-span-3"></div>
    <div class="col-span-9 md:col-span-4 p-10p bg-sand border-x border-black">
        <h2 class="uppercase mb-4 text-xl">Who we are</h2>
        <p class="mb-8">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Debitis minima rerum ipsam iste
            numquam!
            Distinctio sint, tempora incidunt iste nobis ullam nemo neque quas commodi adipisci laborum quia
            obcaecati ut.</p>
        <a href="#" class="border border-black px-10 py-2 uppercase">Find out more</a>
        <div class="col-span-5"></div>
</section>