<section class="p-10p text-center">
    <h2 class="uppercase mb-6 text-2xl">Duis Aute Irure</h2>
    <p class="mb-12">Uncover the realm of well-being guided by Ayurvedic wisdom and the culinary mastery of a skilled private chef. Discover the art of finding balance, nurturing vitality, and experiencing healing through the exquisite realm of delicious and nourishing cuisine.</p>
    <div class="grid md:grid-cols-3 gap-4 mb-20">
        <img src="images/minimal-6.jpg">
        <img src="images/minimal-7.jpg">
        <img src="images/minimal-8.jpg">
        <img src="images/minimal-9.jpg">
        <img src="images/minimal-10.jpg">
        <img src="images/minimal-11.jpg">
    </div>
    <a href="#" class="uppercase border border-black px-10 py-2 mb-4 md:mb-0 inline-block">Schedule a Complimentary Consultation</a>
</section>