<section class="p-10p text-center" id="gallery">
    <h2 class="uppercase mb-6 text-2xl">{{page.gallery-section.heading}}</h2>
    <p class="mb-12">{{page.gallery-section.description}}</p>
    <div class="grid md:grid-cols-3 gap-4 mb-20">
        {% for item in page.gallery-section.gallery %}
        <img src="{{item.image_path}}">
        {% endfor %}
    </div>
    <div class="border border-black mb-4 md:mb-0 inline-block px-10 py-2">
        <a href="#" class="uppercase">Schedule a Complimentary Consultation</a>
    </div>
</section>