<section class="p-10p">
    <h2 class="text-2xl uppercase mb-4">Our Services</h2>
    <div class="text-center grid grid-cols-1 md:grid-cols-3 gap-4">
        <!-- Service 1 -->
        <div>
            <img src="images/minimal-2.jpg" class="mb-6">
            <h3 class="uppercase mb-4 font-semibold">Duis Aute</h3>
            <hr class="border-black mb-4">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates doloribus quidem dolores aliquid
                illo expedita labore natus fugiat. Non consequatur nisi repudiandae voluptatum exercitationem, natus
                omnis tempore rerum doloribus earum.</p>
        </div>
        <!-- Service 2 -->
        <div>
            <img src="images/minimal-3.jpg" class="mb-6">
            <h3 class="uppercase mb-4 font-semibold">Duis Aute</h3>
            <hr class="border-black mb-4">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates doloribus quidem dolores aliquid
                illo expedita labore natus fugiat. Non consequatur nisi repudiandae voluptatum exercitationem, natus
                omnis tempore rerum doloribus earum.</p>
        </div>

        <!-- Service 3 -->
        <div>
            <img src="images/minimal-4.jpg" class="mb-6">
            <h3 class="uppercase mb-4 font-semibold">Duis Aute</h3>
            <hr class="border-black mb-4">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates doloribus quidem dolores aliquid
                illo expedita labore natus fugiat. Non consequatur nisi repudiandae voluptatum exercitationem, natus
                omnis tempore rerum doloribus earum.</p>
        </div>
    </div>
</section>