<header
    style="background-image: url('{{page.banner.image.image_path}}'); background-position: {{page.banner.image.image_focus}};"
    class="flex flex-col justify-items-stretch min-h-screen bg-cover bg-no-repeat text-white">
    <nav class="hidden sm:hidden md:flex justify-between py-8 border-b border-feature">
        <div class="uppercase text-feature">
            {% for item in site.data.site-settings.navigation limit:2 %}
            <a href="{{item.url}}" class="py-1 px-8 lg:px-16">{{item.title}}</a>
            {% endfor %}
        </div>
        <div class="font-display text-6 flex justify-center items-center text-lg text-center">AYURVEDIC ALCHEMY</div>
        <div class="uppercase text-feature">
            {% for item in site.data.site-settings.navigation limit:2 offset:2 %}
            <a href="{{item.url}}" class="py-1 px-8 lg:px-16">{{item.title}}</a>
            {% endfor %}
        </div>
    </nav>
    <div class="text-center flex-grow flex flex-col justify-center items-center">
        <hr class="mb-12 w-28 border-t-2">
        <h1 class="font-display uppercase text-5xl mb-4 tracking-wider">{{page.banner.heading}}</h1>
        <h2 class="font-sans text-2xl tracking-wide">{{page.banner.subheading}}</h2>
    </div>
</header>