<header style="background-image: url('images/minimal-1.jpg');"
    class="flex flex-col justify-items-stretch min-h-screen bg-cover bg-no-repeat text-white">
    <nav class="flex justify-between py-8 border-b border-feature">
        <div class="uppercase text-feature">
            <a href="#" class="py-1 px-8">Nav 1</a>
            <a href="#" class="py-1 px-8">Nav 2</a>
            <a href="#" class="py-1 px-8">Nav 3</a>
        </div>
        <div class="font-display text-6 flex justify-center items-center text-lg">LOGO</div>
        <div class="uppercase text-feature">
            <a href="#" class="py-1 px-8">Nav 4</a>
            <a href="#" class="py-1 px-8">Nav 5</a>
            <a href="#" class="py-1 px-8">Nav 6</a>
        </div>
    </nav>
    <div class="text-center flex-grow flex flex-col justify-center items-center">
        <hr class="mb-12 w-28 border-t-2">
        <h1 class="font-display uppercase text-5xl mb-4 tracking-wider">This is a heading</h1>
        <h2 class="font-sans text-2xl tracking-wide">This is a subheading</h2>
    </div>
</header>