<footer>
    <div class="grid grid-cols-9 gap-4 p-5p border border-black">
        <div class="col-span-2">
            <h3 class="font-semibold mb-4">Lorem Ipsum</h3>
            <a class="block" href="#">Dolor sit amet</a>
            <a class="block" href="#">Consectetur</a>
            <a class="block" href="#">Adipisicing elit</a>
            <a class="block" href="#">Sed do</a>
        </div>
        <div class="col-span-2">
            <h3 class="font-semibold mb-4">Lorem Ipsum</h3>
            <a class="block" href="#">Dolor sit amet</a>
            <a class="block" href="#">Consectetur</a>
            <a class="block" href="#">Adipisicing elit</a>
            <a class="block" href="#">Sed do</a>
        </div>
        <div class="col-span-2">
            <h3 class="font-semibold mb-4">Lorem Ipsum</h3>
            <a class="block" href="#">Dolor sit amet</a>
            <a class="block" href="#">Consectetur</a>
            <a class="block" href="#">Adipisicing elit</a>
            <a class="block" href="#">Sed do</a>
        </div>
        <div class="col-span-3 text-right">
            <h3 class="font-semibold mb-4">Subscribe to our newsletter</h3>
            <form class="grid grid-cols-1 gap-3">
                <!-- Email -->
                <input class="bg-transparent border border-black p-1 mb-2" aria-label="Email" type="text" id="email"
                    name="email">
                <!-- Submit -->
                <div class="text-right">
                    <input class="border border-black px-10 py-2" type="submit" value="SUBSCRIBE">
                </div>
            </form>
        </div>
    </div>
    <div class="grid grid-cols-1 border-t border-black px-5p py-4">
        <h4 class="capitalize">Terms of use</h4>
    </div>
</footer>