<header class="border border-black">
    <div class="grid grid-cols-2" style="background-color: #CEC6B3;">
        <div style="background-image: url('{{page.banner.image.image_path}}'); background-position: {{page.banner.image.image_focus}};"
            class="flex flex-col justify-items-stretch min-h-[80vh] bg-image-style border-r border-black"></div>
        <div class="bg-image-style m-[30%] border border-black" style="background-image: url('/images/ayurvedic-alchemy-8.jpg');"></div>
        <div class="text-center flex-grow flex flex-col justify-center items-center relative col-span-2 bottom-[360%] text-white">
            <h1 class="heading-lg-mobile sm:heading-lg">{{page.banner.heading}}</h1>
            <h2 class="subtitle-mobile sm:subtitle">{{page.banner.subheading}}</h2>
        </div>
</header>